---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const appStoreImg = 'https://raw.githubusercontent.com/onwidget/astrowind/main/src/assets/images/app-store.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

const googlePlayImg = 'https://raw.githubusercontent.com/onwidget/astrowind/main/src/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: 'דף הבית של אפליקציה',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header isSticky showToggleTheme />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="הדגמת אפליקציה לווב"
    image={{
      src: 'https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'תמונת גיבור AstroWind',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white">אפליקציית AstroWind</span>: <br /> אתרים מקצועיים <span
        class="hidden xl:inline">בקלות</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline"> שחרר יצירתיות בלתי מוגבלת בקצות אצבעותיך: השער שלך לעיצוב חדשני. </span>
      הורד עכשיו והתחל במסע לשדרוג הפרויקטים שלך כמו מעולם לא היה.
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="תמונת App Store" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="תמונת Google Play" width={200} />
      </Button>
    </div>
  </Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="כיצד להשתמש באפליקציה שלנו?"
    subtitle="נמאס לך לבזבז שעות על יצירת מסמכים מאפס? האפליקציה שלנו מציעה פתרון חדשני. עם מגוון רחב של תבניות מעוצבות באופן מקצועי, תוכל כעת ליצור מסמכים מדהימים תוך דקות. חקור את התבניות שלנו עכשיו וחווה את ההבדל."
    tagline="מדריך שלב אחר שלב"
    columns={2}
    items={[
      {
        title: 'הורד והתקן את האפליקציה',
        description: `התחל את המסע שלך על ידי הורדת האפליקציה הידידותית שלנו מחנות האפליקציות של המכשיר שלך או מהאתר הרשמי שלנו.`,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'הירשם',
        description: 'צור את החשבון שלך על ידי מתן המידע הנדרש, המאפשר לך לגשת למגוון מלא של התכונות שלנו.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'עיין בתבניות',
        description: 'חקור את האוסף המגוון שלנו של תבניות אתרים, מקוטלגות לניווט קל.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'צפה בתצוגה מקדימה ובחר תבנית',
        description: `תדמיין את הפוטנציאל של כל תבנית באמצעות תצוגות מקדימות, ואז בחר את זו שמתאימה הכי טוב לצרכי הפרויקט שלך.`,
        icon: 'tabler:square-number-4',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80',
      alt: 'תמונה צבעונית',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'ממשק ידידותי למשתמש',
        description: 'ממשק אינטואיטיבי וקל לניווט המאפשר למשתמשים לגלוש במהירות ולמצוא את התבניות שהם צריכים.',
        icon: 'tabler:wand',
      },
      {
        title: 'אפשרויות התאמה אישית',
        description: 'כולל כלי התאמה בסיסיים המאפשרים למשתמשים לשנות טקסט, צבעים, תמונות ואלמנטים אחרים בתוך התבניות.',
        icon: 'tabler:settings',
      },
      {
        title: 'רכיבים מוכנים לשימוש',
        description:
          'שפר את העיצובים שלך עם אלמנטים מוכנים לשימוש כמו גרפיקה, אייקונים ופריסות, חוסך לך זמן ומשפר את המראה החזותי.',
        icon: 'tabler:template',
      },
      {
        title: 'מצב תצוגה מקדימה',
        description: 'ספק תצוגה מקדימה של כל תבנית, מאפשר למשתמשים לראות איך היא נראית לפני רכישה.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'תמונה צבעונית',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">תכונות עיקריות</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'גישה ללא אינטרנט',
        description: 'הצע אפשרות למשתמשים להוריד תבניות שנרכשו לשימוש ללא אינטרנט.',
        icon: 'tabler:wifi-off',
      },
      {
        title: 'אחסון בטוח בענן',
        description: 'ספק אחסון בענן לתבניות שנרכשו, מבטיח שמשתמשים יכולים לגשת ולגבות את התבניות שלהם מכל מקום בבטחה.',
        icon: 'tabler:file-download',
      },
      {
        title: 'עדכונים קבועים',
        description: 'הוסף באופן רציף תבניות ותכונות חדשות כדי לשמור על האפליקציה רעננה ומעניינת למשתמשים.',
        icon: 'tabler:refresh',
      },
      {
        title: 'רשימת משאלות',
        description: `אפשר למשתמשים ליצור רשימת משאלות של תבניות שמעניינות אותם, מקל עליהם לחזור ואולי לרכוש מאוחר יותר.`,
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: "תמונה וינטג'",
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">תכונות נוספות</h3>
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <Stats
    title="סטטיסטיקות של האפליקציה שלנו"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="מה המשתמשים שלנו אומרים?"
    testimonials={[
      {
        testimonial: `האפליקציה הפכה את החיפוש והורדת תבניות לאתרים לקלים. הממשק אינטואיטיבי, ולא היה לי קושי למצוא את התבנית המושלמת לפרויקט שלי. זו אפליקציה שבאמת מעצימה משתמשים.`,
        name: 'קארי קנדי',
        job: 'במאי סרטים',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'תמונת קארי קנדי',
        },
      },
      {
        testimonial: `תהליך ההורדה החלק והפריסה האינטואיטיבית של האפליקציה הפכו את בחירת התבניות לחוויה נעימה. היכולת לראות ולהתנסות בעיצובים שונים לפני התחייבות חסכה לי זמן והבטיחה שאקבל את המראה המושלם לאתר שלי.`,
        name: 'ג׳וש ווילקינסון',
        job: 'מנהל מוצר',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'תמונת ג׳וש ווילקינסון',
        },
      },
      {
        testimonial:
          'הצלחתי להוריד ולהשתמש בתבנית אתר מקצועית תוך דקות. התהליך שלב אחר שלב והממשק הידידותי למשתמש הקלו עלי ליצור אתר שנראה כאילו עוצב על ידי מקצוען.',
        name: 'סידני הנסן',
        job: 'מעצב פנים',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'תמונת סידני הנסן',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'קרא עוד חוות דעת',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="עדיין יש לך ספקות?"
    items={[
      {
        title: 'מה האפליקציה הזו עושה?',
        description:
          'אפליקציה זו מספקת פלטפורמה המאפשרת לך לעיין בקלות, לרכוש, להוריד ולהשתמש במגוון רחב של תבניות אתרים לפרויקטים שלך.',
      },
      {
        title: 'כיצד אפליקציה זו יכולה לפתור את הבעיה שלי?',
        description:
          'אפליקציה זו מפשטת את תהליך מציאת ויישום עיצובי אתרים מקצועיים, חוסכת לך זמן ומאמץ ביצירת אתרים אסתטיים ופונקציונליים.',
      },
      {
        title: 'האם היא זמינה למכשיר שלי?',
        description: `האפליקציה שלנו מתוכננת לתאימות במגוון מכשירים ופלטפורמות, מבטיחה נגישות בין אם אתה משתמש בסמארטפון, טאבלט או מחשב.`,
      },
      {
        title: 'מה הופך את האפליקציה הזו לשונה מאחרות?',
        description:
          'האפליקציה שלנו בולטת בממשק ידידותי למשתמש, אוסף תבניות נרחב ואינטגרציה חלקה של תהליך הרכישה וההורדה, מה שהופך אותה ליעילה במיוחד.',
      },
      {
        title: 'האם יש עלויות מעורבות?',
        description:
          'בעוד שהורדת האפליקציה עצמה עשויה להיות חינם, ייתכנו עלויות הקשורות לרכישת תבניות ספציפיות בהתאם להעדפותיך ולדרישות הפרויקט שלך.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="הורד את האפליקציה שלנו עכשיו!"
    subtitle="גש למגוון תבניות מדהימות, פשט את תהליך היצירה שלך, והעלה את הנוכחות המקוונת שלך."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="תמונת App Store" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="תמונת Google Play" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
